body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.space {
  position: relative;
  width: 200px;
  height: 200px;
}

.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: #0044ff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 25px #0044ff;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}

.moon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 15px #dddddd;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}