NEXT_PUBLIC_CLOUDINARY_FOLDER_NAME=baseball-cap-store
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=baseball-cap-store
NEXT_PUBLIC_CLOUDINARY_API_KEY=your_api_key
NEXT_PUBLIC_CLOUDINARY_API_SECRET=your_api_secret
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name