/* file: styles.css */
* {
    box-sizing: border-box;
  }

body {
  background-color: rgb(0, 225, 255);
}

#house {
    position: relative;
    margin: 200px auto;
    border: 4px solid rgb(146, 136, 0);
    background-color: rgb(0, 78, 147);
    width: 500px;
    height: 400px;
    z-index: auto;
  }
  
  #chimney {
    position: absolute;
    top: -100px;
    left: 75%;
    width: 75px;
    height: 100px;
    border: 2px solid black;
    background-color: red;
    z-index: -1;
  }
  
  #roof {
    position: absolute;
    top: 0;
    background-color: brown;
    width: 100%;
    height: 20%;
    border: 3px solid brown;
    z-index: 2;
  }
  
  #window-1 {
    position: absolute;
    background-color: goldenrod;
    top: 30%;
    left: 10%;
    width: 20%;
    height: 30%;
    border: 2px solid rgb(146, 136, 0);
    z-index: 3;
  }
  
  #window-2 {
    position: absolute;
    background-color: goldenrod;
    top: 30%;
    right: 10%;
    width: 20%;
    height: 30%;
    border: 2px solid rgb(146, 136, 0);
    z-index: 3;
  }
  
  #door {
    position: absolute;
    bottom: 0;
    background-color: goldenrod;
    right: 37%;
    width: 25%;
    height: 50%;
    border: 2px solid rgb(146, 136, 0);
    z-index: 4;
  }